<div class="jumbotron">
    <h1 class="text-center">
        <%= link_to '選擇題', multiple_choices_path %>
    </h1>
</div>
<div class="jumbotron">
    <h1 class="text-center">
        <%= link_to '問答題', essays_path %>
    </h1>
</div>
<div class="jumbotron">
    <h1 class="text-center">
        <%= link_to '試卷', exams_path %>
    </h1>
</div>
