<div class="row">
<div class="col-md-4 inner-buffer">
    <div class="jumbo text-center">
        <h1>
            <%= link_to '選擇題', multiple_choices_path %>
        </h1>
        <br/>
        <p>行路難, 行路難</p>
        <p>多歧路, 今安在</p>
        <p>長風破浪會有時</p>
        <p>直掛雲帆濟滄海</p>
    </div>
</div>
<div class="col-md-4 inner-buffer">
    <div class="jumbo text-center">
        <h1>
            <%= link_to '問答題', essays_path %>
        </h1>
        <br/>
        <p>物格而後知至, 知至而後意誠</p>
        <p>意誠而後心正, 心正而後身修</p>
        <p>身修而後家齐, 家齐而後國治</p>
        <p>國治而後天下平</p>
    </div>
</div>
<div class="col-md-4 inner-buffer">
    <div class="jumbo text-center">
        <h1>
            <%= link_to '試卷', exams_path %>
        </h1>
        <br/>
        <p>蒹葭倉倉, 白露為霜</p>
        <p>所謂伊人, 在水一方</p>
        <p>溯洄從之, 道阻其長</p>
        <p>溯游從之, 宛在水中央</p>
    </div>
</div>
</div>