<div id="questions_count">
    <div class="col-md-4">
        <h3>
            選擇題: <%= @multiple_choices.length %>
        </h3>
    </div>
    <div class="col-md-4">
        <h3>
            問答題: <%= @essays.length %>
        </h3>
    </div>
    <%= Time.now %>
</div>