<div class="nested-fields form-inline">
    <%= link_to_remove_association f do  
          '<span class="glyphicon glyphicon-remove"></span>'.html_safe
        end %>
    <%= f.input :description, input_html: { placeholder: '輸入選項值', style: 'width:400px' },
     label_html: { class: 'sr-only' } %>
      <div class="checkbox">
          <label>
            <%= f.input_field :correct, 
                as: :boolean, 
                'data-toggle' => 'tooltip',
                'data-placement' => 'top',
                'data-original-title' => '是否正確答案' %>
          </label>
      </div>
    
</div>