<div class="tag_cloud">
    <% tag_cloud(@tags, %w(tag_s tag_m tag_l tag_xl tag_xxl tag_xxxl)) do |tag, css_class| %>
        <%= link_to tag.name, essays_path(tags: tag.name), :class => css_class %> |
    <% end %>
</div>